<footer class="footer">
  <p>© Field Day 2024. All rights reserved.</p>
  <p>
    This site is powered by <a href="https://antora.org" target="_blank">Antora</a> and customized using the Field Day UI. 
    View the <a href="https://github.com/Field-Day-2022/field-day-antora-ui" target="_blank">UI source code</a>.
  </p>
  <p>
    Have feedback or suggestions? Contribute on our 
    <a href="https://github.com/Field-Day-2022/field-day-2022.github.io" target="_blank">documentation repository</a>.
  </p>
</footer>
