<footer class="footer">
  <p>© Bibliomation 2024. All rights reserved.</p>
  <p>
    This site is powered by <a href="https://antora.org" target="_blank">Antora</a> and customized using the Bibliomation UI. 
    View the <a href="https://github.com/Bibliomation/biblio-antora-ui" target="_blank">UI source code</a>.
  </p>
  <p>
    Have feedback or suggestions? Contribute on our 
    <a href="https://github.com/Bibliomation/biblio-antora-ui" target="_blank">documentation repository</a>.
  </p>
</footer>
